::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#page-wrapper{
    background-color: #F4F7F9;
      padding-right:0px;
  padding-left: 0px;
  padding-top:20px;
    overflow-x: hidden;
}
@media (min-width: 768px){
    #page-wrapper {
        margin: 0 0 0 240px;
        
        
        
       
    }
}

#page-inner {
    width: 100%;
    margin: 10px 20px 10px 0px;
    background-color: #F4F7F9;
    padding: 10px;
    height:100%;
}
.panel-default{
    border-radius: 0px;
}
.panel-default > .panel-heading {
    border-radius: 0px;
    color:white;
    background-color: #00bcd5;
    border-color: #ddd;
    font-weight: bold;
}
.btn-circle {
    width: 50px;
    height: 50px;
    padding: 6px 0;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
    box-shadow: 0 2px 2px rgba(0,0,0,0.05),0 1px 0 rgba(0,0,0,0.05);
}
.btn-circle:hover{
    background-color: #3ddcde;
    color:white;

}
#nextpage{
    margin-top:100px;
}
.page-header{
    font-size:30px;
    color:#788288;
}
.red>a{
    color:red;
}
.panel-default{
    box-shadow:0 0 7px #E6E6E6;
}
.orangered{
    color:orangered;
}
.pink{
    color:#DD3E74;
}
.question{
    color:#F59237;
}
a:hover, a:focus {
    color: #2a6496;
    text-decoration: initial;
    cursor: pointer;
}
.modal-content{
    margin-top:100px;
}
.profileicon{


    background-color: red;

}
li{
    margin-top:5px;
}
.jumbotron {

    background-color: white;
    border-radius: 5px;
    box-shadow:0 0 7px #E6E6E6;
}
.well{
    margin-left:5px;
    margin-right:5px;
    background: linear-gradient(
        white, white 50%, #E3F2FD 50%, #E3F2FD
        );
    background-size: 100% 202%;
    transition: all 0.2s ease;
    animation: down-bump 0.4s ease;
    box-shadow: 0 0 5px #EEEEEE;

    padding:30px;
    border-radius: 0px;

}
div.well:hover {
    
    cursor:pointer;
    background-position: 100% 100%;
    animation: up-bump 0.4s ease;

}
div.qus:hover{

    cursor:pointer;
}

#tutnav{
    color:white;
    background-color:#00bcd5;
    
}
.tutlink{
    margin-top:0px;
    padding:0px;
    border-radius: 0px;
}
.navl{
     
  color: white;
  
  font-size:15px;
}
.navbar-nav > li > a {
   padding-top: 10px; 
  padding-bottom: 10px; 
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color:#0D47A1;
  color:white;
}
#navtut2{
    display:none;
}
@media only screen and (max-width: 900px) {
    #tutnav{
        display:none;
    }
    #navtut2{
        display:block;
    }
}
.right{
    position:absolute;
    bottom:0;
    right:0;
}
.ver{
    height:30px;
}
.box{
    border:1px solid #006064
        ;
    border-radius:5px;
    height:60px;
    width:60px;
    float:left;
    text-align: center;
    vertical-align: central;
    margin-left:20px;
    padding-top:10px;
    
    background: -webkit-linear-gradient(left top, #B2EBF2,white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #B2EBF2, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #B2EBF2, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right,#B2EBF2 , white); /* Standard syntax */
    color:#006064;
}
.linkbox{
    
    padding:3px;
    border:2px solid #004D40;
    border-radius: 3px;
    color:#004D40;
    
}
.linkbox:hover{
    cursor:pointer;
}

#qlink{
    border-left : 5px solid #1E88E5;
    padding:5px;
    padding-left:20px;
    font-size:20px;
    
}
#listtut{
    
    padding:10px;
    padding-left: 20px;
    margin-left:5%;
    font-size:20px;
    color:#E3F2FD;
}
.tut1{
    border-left : 5px solid #E3F2FD;
}
.tut2{
    font-size:15px;
    color:#90CAF9;
}

.teal {
  background-color: #42a5f5;
}
.tle{
    background-color:#C82345;
}
.blue{
    background-color: #11528F;
}
.green{
    background-color:#509601;
}
.red{
    background-color:#C33;
}
.red1{
    background-color:#FF3C00;
}
.green1{
    background-color: #0FCCA6;
}
.orange{
    background-color:#FF8000;
}
.purple{
    background-color:#7b4f9d;
}
.alizarian{
    background-color:rgb(222, 163, 23);
}
.yellow{
    background-color:#ffc40d;
}
.pink{
    background-color:#F48FB1;
}
.tile{
    
     display: block;
  cursor: pointer;
  -webkit-perspective: 0;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .2s;
  float: left;
  
  height: 200px;
  
  z-index: 1;
 border-radius:10px;
  border: 6px #F4F7F9 solid;
  color: #fff;
  transition:all ease 0.8s;
  
   font-size: 20px;
   font-family: 'Just Another Hand', cursive;
   vertical-align: central;
       
}

.flip-container {
	perspective: 1000;
	transform-style: preserve-3d;
}
	
	

.flip-container, .front, .back {
	
	
}




.front, .back {
	backface-visibility: hidden;
	transition: 0.6s;
	transform-style: preserve-3d;
        text-align:center;
        
	position: absolute;
	top: 0;
	left: 0;
}


.front {
    
	z-index: 2;
	
}
.back{
    text-align:left;
   font-size: 20px;
   font-family: 'Just Another Hand', cursive;
}

.flip-container {
	position: relative;
}

	 .back {
		transform: rotateX(180deg);
	}

	.flip-container:hover .back {
	    transform: rotateX(0deg);
	}

	.flip-container:hover .front {
	    transform: rotateX(180deg);
	}

.big{
    height:400px;
}
.mid{
    height:350px;
}

.title{
    text-align:center;
    vertical-align: central
}
@media(max-width:1200px){
    .mid{
        height:400px;
    }
}
.vermid{
    padding-top:120px;
    font-weight: 300;
   font-size: 36px;
   text-align:center;
}
.block{
     
color:white;
font-family: 'Just Another Hand', cursive;
border-radius: 10px;

}
.block:hover{
    background-color: green;
}
.hit{
    height:250px;
}
.block1{
     
color:white;
font-family: 'Just Another Hand', cursive;

border-radius: 20px;
}
.versm{
    padding-top:10px;
    font-weight: 300;
   font-size: 36px;
   text-align:center;
}
.white{
background-color:white; 
color:#2196F3;
font-family: 'Just Another Hand';

}
.whiteno{
    cursor:default;
background-color:white; 
color:#2196F3;
font-family: 'Just Another Hand';

}
.white:hover{
   background-color:#FFF9C4; 
}
.q{
    color:#1B5E20;
    font-size:25px;
    
}
.verpad{
    padding-top:30px;
    
}
.com{
    color:#1A237E;
    font-size:20px;
}
.act{
    transform:rotateX(180deg);
}
.full{
    border-radius:10px;
  border: 6px #F4F7F9 solid;
  
  transition:all ease 0.8s;
  
   font-size: 20px;
}
.sm{
   
    padding-top:5px;
    height:60px;
    font-size:30px;
}
.sm:hover{
    background-color:#11528F;
}
.null{
    height:40px;
}
.pagination>li>span{
    text-align: center;
    display:block;
    height:40px;
    width:50px;
    padding-top:10px;
    margin-left:5px;
}

.pagination>li>span:hover{
    cursor: pointer;
}
